@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.top {
    background-color: darkred;
    border-radius: 5px;
    max-height: 1000vh;
    height: 100%;
    margin: 30px 7px 30px 7px;
    background-size: cover;
    background-repeat: no-repeat;
}
#header {
    font-size: 4rem;
    text-align:center;
    color: white;
    padding-top: 58px;
    font-family:'poppins';
}


.info {
    display: block;
    max-width: 600px;
    padding: 20px;
    color: white;
}
.tribute {text-align: center;
background-image: url(keyboard.jpg);
background-blend-mode: overlay;
background-color: darkred;
padding: 10px;
margin: 10px;}


#tribute2{
    max-width: 100vw;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.info{
    font-family: 'poppins';
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    text-align: justify;
    color: white;
    
}

ul li {
    margin-bottom: 20px;
    line-height: 1.5rem;
}
h1 {text-align: center;}
.info p {text-align: left;}

h3 {text-align: center;
color:white;
margin-bottom: 25px;
font: size 1.5rem;}

.info h4 {text-align: center;
color: white;
margin-bottom: 25px;}

footer{text-align: center;
color: white;
margin-bottom: 45px;
font-family: 'poppins';
}
p {text-align: center;
color: rgb(205,205,205);
font-family: 'poppins';
}

.tribute h4 {
    text-align: center;
    color: white;
    font-family: 'poppins';
    margin-bottom: 5px;
    
}
